---
import NumberCard from "./NumberCard.astro"

---
<div class=" mx-14 md:mx-20 mb-24 px-12 pt-12 pb-6 bg-gradient-to-br to-secondary-blue-md from-primary-1">
    <h3 class=" mb-12 text-gray-50 text-lg md:text-2xl lg:text-3xl font-semibold">By the Numbers</h3>
    <div class="flex justify-between">
        <NumberCard title="9 out of 10" content="9 out of 10 startups do not make it."/>
        <NumberCard title="40 % failaure" content="40% of startups fail due to not understanding the market "/>
        <NumberCard title="$800 million" content="$800 million invested into startups that fail "/>
    </div>
</div>