---
import NumberCard from "./NumberCard.astro"

---
<div class=" rounded-md mx-4 md:mx-8 mb-24 px-12 pt-12 pb-6 ">
    <h3 class=" uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-12">By the Numbers</h3>
    <div class="flex justify-between flex-col md:flex-row gap-4">
        <NumberCard title="9 out of 10" content="9 out of 10 startups do not make it."/>
        <NumberCard title="40 % failure" content="40% of startups fail due to not understanding the market "/>
        <NumberCard title="$550 million" content="$800 million invested into startups that fail "/>
    </div>
</div>
