---

---
<div class="flex flex-col md:flex-row w-full h-full mb-24 py-32">
    <div class="px-0 md:px-6 lg:px-12 py-20 bg-secondary-blue-pale flex-1">
        <h3 class="mb-6 text-white font-semibold text-lg md:text-2xl lg:text-3xl drop-shadow-lg">Our Mission </h3>
        <p class="text-white drop-shadow-md">
            INNOVO's mission is to bring a patient-centre approach and translational mindset to healthcare consulting and make investment in healthcare ventures easier than ever. 
            <strong>To achieve this goal</strong>, we provide healthcare-specific due diligence for investors. 
            Our approach includes addressing if patients truly need a product/service and can the product/service pass through the challenges of commercialization. 
            Having the answer to these critical questions allows investors to comfortably make investment decisions in the healthcare space. 
        </p>
    </div>
    <div class="px-0 md:px-6 lg:px-12 py-20 bg-gray-50 flex-1">
        <h3 class="mb-6 font-semibold text-lg md:text-2xl lg:text-3xl drop-shadow-sm">Our Vision </h3>
        <p>
            INNOVO aspires to close the gap between bench and bedside and facilitate the translation of healthcare innovations to tangible outcomes for patients. 
            <strong>Our analysis</strong> and recommendations will empower investors to confidently make the right investment decisions in the healthcare sector, 
            eventually attracting more funds to this space. 
            Ultimately, with more funds spent on the right companies, patients will benefit from the best and most innovative treatments/solutions. 
        </p>
    </div>
</div>