---

const {title, content} = Astro.props;
---
<div class=" h-40 max-w-sm">
    <h3 class=" mb-4 text-white font-semibold text-lg md:text-xl lg:text-2xl">{title}</h3>
    <p class=" text-white">{content}</p>
<div>