---
import Icon from "astro-icon";
import ValueCard from "../Values/ValueCard.astro";
---

<div class="mx-14 md:mx-20 mb-24">
  <h2 class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-6">
    Who We are
  </h2>
  <p>
    INNOVO consists of motivated and knowledgeable healthcare professionals who
    have vast experience with:
  </p>
  <br />
  <div class="flex flex-wrap mb-12 mx-auto gap-2 text-center">
    <ValueCard value="Uncovering" content="Uncovering and validating patient needs and pain points." >
        <Icon class="text-primary-1 hover:text-secondary-blue-pale" name="bi:pin-fill"/>
    </ValueCard>
    <ValueCard value="Conducting" content="Conducting research and data analyses / interpretation." >
        <Icon class="text-primary-2 hover:text-secondary-blue-pale" name="mdi:magnify-expand"/>
    </ValueCard>
    <ValueCard value="Applying" content="Applying a healthcare and clinical lens to inform or validate the company's business strategy." >
        <Icon class="text-primary-2 hover:text-secondary-blue-pale" name="octicon:checklist-16"/>
    </ValueCard>
    <ValueCard value="Providing" content="Providing highly specialized clinical subject matter expertise." >
        <Icon class="text-primary-2 hover:text-secondary-blue-pale" name="octicon:code-of-conduct-16" />
    </ValueCard>
  </div>
</div>
