---
---

<div class="mx-14 md:mx-20 mb-24">
  <h2 class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-6">
    why this matters
  </h2>
  <p>
    There is a big problem in the healthcare innovation ecosystem. 9 out of 10 startups do not make it. 
      Although there are many reasons for this, 
      data suggests majority of startups simply misunderstood how they would fit within the existing healthcare system. 
    Investing in an emerging health-related technology requires not just an understanding of the business, 
    but how the technology would fit within the complexity of a healthcare system. 
    To make the right investment decision with healthcare and life sciences companies, 
    more specific due diligence is required.
  </p>
</div>
