---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Home/Intro.astro";
import Values from "@/components/Values/Values.astro";
---

<Layout title="Innovo | Home page">
    <Intro />
    <div class=" flex flex-col items-center w-screen">
      <Values />
    </div>
</Layout>
