---
import WhyChoose from "@/components/Service/WhyChoose.astro";
import Solution from "@/components/Service/Solution.astro"
import Layout from "@/layouts/Layout.astro";
import ServiceHeading from "@/components/Service/ServiceHeading.astro"
---

<Layout title="Innovo | Service page">
    <div class="flex flex-col">
        <ServiceHeading />
        <Solution />
        <WhyChoose />
    </div>
</Layout>