---
import Button from "../Button.astro";
import TextSlide from "../TextSlide.astro";
---

<div class="bg-hero-image w-screen h-screen py-24 mb-20 flex flex-col justify-end">
  <h1
    class=" text-center uppercase font-semibold text-primary-1 text-3xl md:text-5xl bg-opacity-70 bg-secondary-gray drop-shadow mt-2 md:mt-6 mx-8 mb-auto px-6 md:mx-12 md:px-8 py-8"
  >
  Unlock your healthcare investment potential with INNOVO
  </h1>
  <div class=" mb-4 md:mb-0">
    <div class=" text-center text-white font-bold text-4xl mb-2 drop-shadow-md">
      INNOVO Values
    </div>
    <TextSlide valueList={["Collaboration","Impartiality", "Integrity", "Imaginative", "Patient-centred "]} />
  </div>
  <div class=" mb-8 mx-auto flex">
    <Button href="service" content="Services" />
    <Button href="about" content="Contact Us" />
  </div>
</div>
