---
import { Icon } from "astro-icon";
const {c} = Astro.props
---
<div class=`flex flex-col gap-6 ${c}`>
    <h4 class=" font-semibold text-lg">INNOVO</h4>
    <div class="flex">
        <Icon class="h-8" name="mdi:location" />
        <span>Toronto | Ottawa, Canada</span>
    </div>
    <div class="flex">
        <Icon class="h-8" name="ph:phone-fill" />
        <span>+1-647-000-0000 (Toronto) </span>
    </div>
    <div class="flex">
        <Icon class="h-8" name="ci:mail" />
        <span> info@innova.ca</span>
    </div>

</div>