---
import MemberCard from "./MemberCard.astro";
---

<section class="mx-14 md:mx-20 mb-24">
  <div class="">
    <h2
      class="uppercase font-semibold text-primary-1 text-3xl md:text-4xl mb-12"
    >
      Our Team
    </h2>
    <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">
      Meet our team member!
    </p>
  </div>
  <div class="grid gap-8 mb-6 lg:mb-16 lg:grid-cols-2">
    <MemberCard
      name="Sally Moy"
      experience={[
        "“Healthcare innovation is my favourite type of team sport.”",
        "Sally has a background in applied research, evaluation, and consulting. She has an in-depth understanding of trends in the healthcare innovation landscape and is always looking for opportunities to connect the dots within the healthcare sector. Sally is a results-driven, collaborative leader and brings a systems-thinking lens to healthcare innovation through INNOVO."
      ]}
      image="sally.svg"
      linkedin="https://www.linkedin.com/in/sallymoy/?originalSubdomain=ca"
    />
    <MemberCard
      name="Alireza Aleyasin"
      experience={[
        "“I aspire to see disruptive innovations in healthcare that revolutionize our 100-year-old model of care”",
        "Alireza has a background in family medicine and is a co-founder of a MedTech startup, which is focused on providing the best solutions to patients with amputations by creating novel prosthetics. His passion for improving the health innovation ecosystem, entrepreneurial mindset and progressive thinking will help INNOVO have a unique approach to providing solutions.",
      ]}
      image="alireza.svg"
      linkedin="https://www.linkedin.com/in/alireza-aleyasin-7789b776/?originalSubdomain=ca"
    />
    <MemberCard
      name="Evan Foster"
      experience={[
        "“6+ years of biomedical science and clinical research”",
        "Evan has a strong background in biomedical science and clinical research, with specialized expertise in concussion and stroke rehabilitation research. He has established an extensive network in the healthcare and innovation field which has fuelled his interest and passion for this field. His leadership and positivity helps motivate INNOVO to continue to push the boundaries of healthcare innovation.",
      ]}
      image="evan.svg"
      linkedin="https://www.linkedin.com/in/evanfoster1/?originalSubdomain=ca"
    />
    <MemberCard
      name="Oscar Palacio "
      experience={[
        "“The only way to change our healthcare ecosystem is by collaborating in multidisciplinary teams and moving INNOVATION forward.”",
        "Oscar has an extensive experience in opportunity identification, market assessment and strategic planning for life sciences companies. He is passionate about analyzing and identifying gaps that continue to hinder the Canadian innovation ecosystem for investors and new entrepreneurs. Oscar believes that through empathy, leadership, and guidance, INNOVO can help investors to succeed and unlock their investment potential.",
      ]}
      image="oscar.svg"
      linkedin="https://www.linkedin.com/in/oscar-palacio-bsc-mhsc-82357417b/"
    />
  </div>
</section>
