---

---


<div class="bg-resources-image bg-cover w-screen h-screen px-12 md:px-24 lg:px-36 mb-20 flex flex-col justify-center">
    <h2 class="text-gray-100 font-semibold text-3xl md:text-4xl lg:text-5xl drop-shadow-md">
        Thought Leadership
    </h2>
    <h4 class="text-gray-200 text-xl md:text-2xl lg:text-3xl mt-12 max-w-5xl drop-shadow-md">
        Get the latest trends and insights of the industry at your fingertips.
    </h4>
</div>
