---
const {value, content, icon} = Astro.props;

---

<div class=" flex flex-col items-center max-w-sm p-6 hover:bg-gray-100 gap-2 md:gap-6">
    <div class="w-16">
        <slot/>
    </div>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-primary-1 dark:text-white">{value}</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">{content}</p>
</div>